<!DOCTYPE html>
<html lang="{{ site.lang | defalt: "ja" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% seo %}
        <link rel="stylesheet" href="{{ "/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
        {% include head-custom.html %}
        <title>ar-veiwer</title>

    </head>
    <body>
        <div class="wrapper">
            Terrain AR
        </div>
        <div>
            <a rel="ar" href="model/cup_saucer_set.usdz">
                <img src="model/cup_saucer_set-preview.jpg" alt="cup_saucer_set">
            </a>
        </div>
        <div>

        </div>
        <footer>
            {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        </footer>
        <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    </body>
</html>
